body{
  font-family: 'Montserrat', sans-serif;
  background: url(./images/1.png)no-repeat center center fixed;
  background-size: cover;
  color: #FFF;
  font-weight: bolder;
}
.contenedor{
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
img{
  opacity: 1;
}
a{
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}
.imagen-contenedor a:hover{
  text-decoration: none;
  padding-left: 45px;
  padding-top: 45px;
}
.myphoto{
  width: 200px;
  height: 200px;
}
/* Formato a las imagenes*/

/*cuadro del pulpo*/
.imagen-contenedor{
  background-color: #303E4F;
  height: auto;
  width: 30%;
  background-attachment: fixed;
  padding: 3px;
  margin: 15px;
}
.imagen{
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;
}
