
body {
background-color:#58B99D;
font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
width: 100%
}
    /*Aqui empieza la navegacion*/

.navegacion{
background-color: #303E4F;
font-size: 1.1rem;
display: flex;
justify-content: space-between;
font-weight: 700;
padding-left: 74px;
padding-right:74px;
align-items: center;
}
#navegacion{
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}
}
#strap{
font-size: 30px;
max-width: 100%;
}
#strap a{
color: white;
text-decoration: none;
}
a, a.active, a:active, a:focus, a:hover {
color: #18bc9c;
outline: 0;
}
ul{
list-style:none;
margin:0px;
padding:0px;
clear:both;
letter-spacing: 1px;
margin-left: auto!important;
}
ul li{
margin:0px 10px;
padding:0px;
float:left;
}
ul li a{
color: white;
display:block;
text-decoration:none;
}
  /*Aqui empieza el primer contenedor*/
#Contenedor {
display: flex;
flex-direction: column;
align-items: center;

}
#foto-container{
border-radius: 50%;
display: block;
width: 350px;
height: 350px;
padding-top: 70px;

}
p{
text-align: center;
color: white;
}
p.name{
font-size: 76px;
font-weight: 700;
}
p.skills{
font-size: 28px;
padding-bottom: 40px;
}

/*aqui comienza el segundo contenedor*/

#contenedor2 {
background-color: white;
align-items: center;

}
.portafolio{
flex-direction:column;
}
#portafolio {
padding-top: 100px;
align-content: : center;
color: black;
font-size: 3em;
font-weight: 700;
margin: 0;
width: 100%;
}
#star{
color: #303E4F;
padding: 20px;
}
/*Seccion de formato a Imagenes*/

.matriz{
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: 100%;
}
.selection{
display: flex;
flex-direction: row;
align-items:flex-start;

}
.imagenes{
display: flex;
flex-wrap:wrap;
margin-left: 10%;
margin-right: 10%;
padding: 10%;

}
/*cuadro del pulpo*/
.pulpo-cont{
  background-color: #303E4F;
  height: 252px;
  width: 350px;
  background-attachment: fixed;
  padding: 10px;
}
#pulpo{
  background-color: #C8B3A5;
  border-radius: 50%;
  margin: 9px;
  height: 200px;
  width: 200px;
}
/*cuadro contenedr de vj*/
.vj-cont{
  background-color: #303E4F;
  height: 252px;
  width: 350px;
  background-attachment: fixed;
  padding: 10px;
}
#vj{
  background-color: #C8B3A5;
  border-radius: 50%;
  margin: 9px;
  height: 200px;
  width: 200px;
}
/*contenedor sass*/
.sass-cont{
  background-color: #303E4F;
  height: 252px;
  width: 350px;
  background-attachment: fixed;
  padding: 10px;
}
#sass{
  background-color: #C8B3A5;
  border-radius: 50%;
  margin: 9px;
  height: 200px;
  width: 200px;

}
/*Inicia contenedor yo*/
.yo-cont{
  background-color: #303E4F;
  height: 252px;
  width: 350px;
  background-attachment: fixed;
  padding: 10px;
}

#yo{
  border-radius: 50%;
  margin: 9px;
  height: 200px;
  width: 200px;
}
/*Inicia contenedor angular*/
.angular-cont{
  background-color: #303E4F;
  height: 252px;
  width: 350px;
  background-attachment: fixed;
  padding: 10px;

}
#angular{
  background-color: #C8B3A5;
  border-radius: 50%;
  margin: 9px;
  height: 200px;
  width: 200px;

}
/*inicia typescript*/
.typescript-cont{
  background-color: #303E4F;
  height: 252px;
  width: 350px;
  background-attachment: fixed;
  padding: 10px;
}

#typescript{
  background-color: #C8B3A5;
  border-radius: 50%;
  margin: 9px;
  height: 200px;
  width: 200px;
}



/*Aqui comienza la seccion de Info*/
.contacto{
background-color: white;
}
#info{
color:white;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
padding-top: 50px;
margin-right: 103px;
padding-left: 15px;
padding-right: 15px;
align-items: center;
}
h2{
text-align: center!important;
font-size: 3em;
font-weight: 700;
padding-top: : 109px;
}
.texto{
font-size: 20px;
color: white;
width: 400px;
margin: auto;
display:inline-block;
justify-content:space-between;
}
.parrafos{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.download {
text-decoration: none;
background-color: white;
color: #58b99d;
font-size: 20px;
font-weight: 500;
border: solid 2px #fff;
padding:.5rem 1rem;
border-radius: .3rem;
line-height: 1.5;
margin-bottom: 10px;
}
.bajar{
display: flex;
justify-content: center;
}
/*INICIA HOJA DE CONTACTO*/
.contacto{
background-color: white;
width: 100%;
}
h2.about{
color: black;
padding-top: 30px;
padding-bottom: 30px;
}
p.star{
color: #303E4F;
}
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=email], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
    box-sizing: border-box;
}
input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=Enviar]:hover {
    background-color: #45a049;
}
#formulario{
  color: black;
  display: block;
  padding-left:400px;
  padding-right:400px;
  padding-bottom: 60px;
}
