
body {
background-color:#58B99D;
font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
width: 100%;
}
    /*Aqui empieza la navegacion*/

.navegacion{
background-color: #303E4F;
font-size: 1.1rem;
display: flex;
justify-content: space-between;
font-weight: 700;
padding-left: 74px;
padding-right:74px;
align-items: center;
}
#navegacion{
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}
}
#strap{
font-size: 30px;
max-width: 100%;
}
#strap a{
color: white;
text-decoration: none;
}
a, a.active, a:active, a:focus, a:hover {
color: #18bc9c;
outline: 0;
}
ul{
list-style:none;
margin:0px;
padding:0px;
clear:both;
letter-spacing: 1px;
margin-left: auto!important;
}
ul li{
margin:0px 10px;
padding:0px;
float:left;
}
ul li a{
color: white;
display:block;
text-decoration:none;
}
  /*Aqui empieza el primer contenedor*/
#Contenedor {
display: flex;
flex-direction: column;
align-items: center;

}
#foto-container{
border-radius: 50%;
display: block;
width: 350px;
height: 350px;
padding-top: 70px;

}
p{
text-align: center;
color: white;
}
p.name{
font-size: 76px;
font-weight: 700;
}
p.skills{
font-size: 28px;
padding-bottom: 40px;
}

/*aqui comienza el segundo contenedor*/

#contenedor2 {
background-color: white;
align-items: center;

}
.portafolio{
flex-direction:column;
}
#portafolio {
padding-top: 100px;
align-content: : center;
color: black;
font-size: 3em;
font-weight: 700;
margin: 0;
width: 100%;
}
#star{
color: #303E4F;
padding: 20px;
}
/*Seccion de formato a Imagenes*/

.matriz{
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: 100%;
}
.selection{
display: flex;
flex-direction: row;
align-items:flex-start;

}
.imagenes{
display: flex;
flex-wrap:wrap;
margin-left: 10%;
margin-right: 10%;
padding: 10%;

}
/*cuadro del pulpo*/
.pulpo-cont{
  background-color: #303E4F;
  height: auto;
  width: 252px;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#pulpo{
  background-color: #C8B3A5;
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;
}
/*cuadro contenedr de vj*/
.vj-cont{
  background-color: #303E4F;
  height: auto;
  width: 252px;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#vj{
  background-color: #C8B3A5;
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;
}
/*contenedor sass*/
.sass-cont{
  background-color: #303E4F;
  height: auto;
  width: 252px;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#sass{
  background-color: #C8B3A5;
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;

}
/*Inicia contenedor yo*/
.yo-cont{
  background-color: #303E4F;
  height: auto;
  width: 252px;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#yo{
  background-color: #C8B3A5;
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;
}
/*Inicia contenedor angular*/
.angular-cont{
  background-color: #303E4F;
  height: auto;
  width: 252px;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}
#angular{
  background-color: #C8B3A5;
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;

}
/*inicia typescript*/
.typescript-cont{
  background-color: #303E4F;
  height: auto;
  width: 252px;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#typescript{
  background-color: #C8B3A5;
  border-radius: 50%;
  object-fit: contain;
  height: 200px;
  width: 200px;
}
.container{
  display:inline-block;
justify-content: center;
align-items: center;
}


/*Aqui comienza la seccion de Info*/
.contacto{
background-color: white;
display: flex;
justify-content: center;
}
.about{
  display: inline-flex;
  justify-content: center;
  width: 1140px;
  height: 58px;
}
#info{
height: 578px;
color:white;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
padding-top: 100px;
padding-bottom:100px;
display:inline-block;
justify-content: center;
align-items: center;
margin-left: 174px;
margin-right: 174px;
}
h2{
text-align: center!important;
font-size: 3em;
font-weight: 700;
padding-top: : 109px;
}
.texto{
font-size: 20px;
color: white;
width: 400px;
margin: auto;
display:inline-block;
justify-content:space-between;
text-align: justify;
}
.parrafos{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.download {
text-decoration: none;
background-color: white;
color: #58b99d;
font-size: 20px;
font-weight: 500;
border: solid 2px #fff;
padding:.5rem 1rem;
border-radius: .3rem;
line-height: 1.5;
margin-bottom: 10px;
}
.bajar{
display: flex;
justify-content: center;
}
/*INICIA HOJA DE CONTACTO*/
.contacto{
background-color: white;
height:937px;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}
.containe{
height: 737px;
padding-left: 15px;
padding-right: 15px;
margin-left: 174px;
margin-right: 174px;
}
.formular{
  height: 620px;
  width: 1140px;
  font-family: 'Lato', sans-serif;
  font-size:24px;
  color: grey;

}
}
h2.about{
color: black;
width: 1110px;
height: 57px;
display:inline-flex;
justify-content: center;
margin: 0;
}
p.star{
color: #303E4F;
}
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=email], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
    box-sizing: border-box;
}
input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
  background-color: #58B99D;
  color: white;
  font-family:  'Lato', sans-serif;
  height: 40px;
  font-weight: 700;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  margin: 8px 0;

}
/*aqui comienza el footer*/
.text-center{
  background: #303E4F;
  padding-top: 50px;
  height: 269px;
  color: white;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 100%;
}
.conteiner{
  width: 1140px;
  height: 219px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 212px;
  margin-right: 121px;
  display: inline;
  align-items: flex-start;
  justify-content: center;
}
.location{
  width: 379px;
  height: 169px;
  display: table;


}
.around{
  width: 379px;
  height: 169px;
  display: table;



}
.free{
  width: 379px;
  height: 169px;
  display: table;



}
.loc{
  margin-top: 17px;
  margin-bottom: 17px;
}
